<md-sidenav-layout fullscreen>
  <md-sidenav #sidenav>
    <md-nav-list>
      <a md-list-item [routerLink]="['/dashboard']" routerLinkActive="active">
        <md-icon md-list-icon>ic_settings</md-icon>
        <span md-line>Dashboard</span>
      </a>

      <a md-list-item [routerLink]="['/heroes']" routerLinkActive="active">
        <md-icon md-list-icon>ic_settings</md-icon>
        <span md-line>Heroes</span>
      </a>

      <a md-list-item [routerLink]="['/wiki']" routerLinkActive="active">
        <md-icon md-list-icon>ic_settings</md-icon>
        <span md-line>Wiki</span>
      </a>

      <a md-list-item [routerLink]="['/wiki-smart']" routerLinkActive="active">
        <md-icon md-list-icon>ic_settings</md-icon>
        <span md-line>wiki-smart</span>
      </a>

      <a md-list-item [routerLink]="['/echo-chat']" routerLinkActive="active">
        <md-icon md-list-icon>ic_settings</md-icon>
        <span md-line>echo-chat</span>
      </a>

    </md-nav-list>

  </md-sidenav>

  <md-toolbar color="primary">
    <button md-icon-button (click)="sidenav.open()">
      <md-icon>menu</md-icon>
    </button>
    Ng2-WebSphone
    <button md-fab (click)="formShowing=!formShowing">
      <md-icon>add</md-icon>
    </button>
  </md-toolbar>

  <router-outlet></router-outlet>

</md-sidenav-layout>
<!--<h1>{{title}}</h1>-->
<!--<nav>-->
  <!--<a [routerLink]="['/dashboard']" routerLinkActive="active">Dashboard</a>-->
  <!--<a [routerLink]="['/heroes']" routerLinkActive="active">Heroes</a>-->
  <!--<a [routerLink]="['/wiki']" routerLinkActive="active">Wiki</a>-->
  <!--<a [routerLink]="['/wiki-smart']" routerLinkActive="active">Wiki-Smart</a>-->
  <!--<a [routerLink]="['/echo-chat']" routerLinkActive="active">Echo-Chat</a>-->
<!--</nav>-->

